.notify {
  border: 2px solid currentColor;

  &__icon {
    margin-left: 8px;
    margin-right: 16px;
    margin-top: 1px;

    i {
      font-size: 26px;
    }
  }

  &__title {
    font-size: 16px;
    color: $black-color;
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    flex-wrap: nowrap;
  }

  &__text {
    font-size: 14px;
    color: $text-color;
    font-weight: 500;
  }
}

.notify--success {
  .notify__title {
    color: $green-color;
  }
}