.wishlist {
  &__header {
    margin-bottom: 24px;
    border-bottom: 1px solid #efefef;
    padding: 16px 24px;
    border-radius: 8px;
    background: $white-color;
    font-size: 16px;
    font-weight: 500;
  }

  &__container {
    background: $white-color;
    border-radius: 8px;
    padding: 0 24px;
  }

  &-item {
    padding: 24px 0;
    transition: all .2s ease;
    border-bottom: 1px solid #efefef;


    &__image {
      width: 120px;
      min-width: 120px;
      max-width: 120px;
      height: 120px;
      overflow: hidden;
      border-radius: 8px;
      border: 1px solid #efefef;
      transition: all .2s ease;

      &:hover {
        border: 1px solid $primary-color;
      }

      img {
        border-radius: 8px;
        width: 100%;
        height: auto;
      }
    }

    &__name {
      font-size: 15px;
      font-weight: 500;
      line-height: 24px;
      color: #666;
      transition: all .2s ease;

      &:hover {
        color: $primary-color;
      }
    }

    &__price {
      line-height: 27px;
      font-size: 18px;
      font-weight: bold;
      color: $primary-color;

      &--new {
        font-size: 18px;
        font-weight: bold;
        color: $red-color;
      }

      &--old {
        font-size: 14px;
        font-weight: 500;
        color: $text-color;
        text-decoration: line-through;
      }
    }

    &__category {
      font-size: 14px;
      font-weight: 500;
      line-height: 24px;
      color: $black-color;
      transition: all .2s ease;

      &:hover {
        color: $primary-color;
      }
    }


    &__button-addToCart {
      width: max-content;
      font-size: 14px;
      font-weight: 500;
      gap: 8px;
      border: 1px solid #ccc;
      padding: 8px 20px;
      border-radius: 5px;
      background: $primary-color;
      color: $white-color;

      &:hover {
        background: $primary-hover-color;
      }
    }

    &__group-button {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 10px;

      button {
        color: $black-color;
        min-width: max-content;
        border: none !important;
        font-size: 15px;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        transition: all .2s ease;
        background: #fff;
        cursor: pointer;

        i, svg {
          border: 1px solid #efefef;
          min-height: 32px;
          min-width: 32px;
          font-size: 13px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all .2s ease;
        }

        &:hover {
          color: $primary-color;

          i, svg {
            background: $primary-color;
            color: $white-color;
          }
        }
      }
    }

    .button-delete {
      font-size: 14px;
      border: none !important;
      box-shadow: none !important;
      color: $black-color;
      background: $white-color;

      &:hover {
        color: $red-color;
      }
    }
  }
}