#cart-sidebar {
  .offcanvas-header {
    border-bottom: 1px solid #efefef;

    &__title {
      margin-bottom: 0;
      font-size: 18px;
      font-weight: 500;
      letter-spacing: .25px;
      color: $red-color;
    }
  }

  .offcanvas-body {
    padding: 0;
    margin: 0;

    .cart-message {
      display: flex;
      height: 100%;
      width: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 16px;

      h5 {
        font-size: 18px;
        font-weight: 500;
        text-align: center;
      }

      img {
        max-width: 280px;
        width: 80%;
        height: auto;
      }
    }

    .cart-item {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 8px;
      padding: 16px 12px;
      border-bottom: 1px solid #efefef;
      transition: all .3s ease;

      &:hover {
        background-color: #f8f9fa !important;
      }

      &__button-remove {
        padding: 0 6px;

        button {
          background-color: transparent;
          border: none;
          outline: none;
          font-size: 14px;
          color: $text-color;
          transition: all .3s ease;

          &:hover {
            color: $red-color;

          }

          &:focus {
            outline: none;
            border: none;
          }
        }
      }

      &__image {
        width: 80px;
        min-width: 80px;
        height: 100px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        border: 1px solid #efefef;
        transition: all .2s ease;

        &:hover {
          border-color: $primary-color;
        }

        img {
          width: 100%;
          height: auto;
          border-radius: 5px;
        }
      }

      &__content {
        padding: 2px 8px;
        flex: 1;
      }

      &__title {
        font-size: 13px;
        font-weight: 500;
        line-height: 1.5;
        color: $text-color;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        overflow-wrap: break-word;
        margin-bottom: 5px;
        transition: all .2s ease;

        &:hover {
          color: $primary-color;
        }
      }

      &__quantity {
        font-size: 13px;
        font-weight: 600;
        color: $text-color;
      }

      &__price {
        font-size: 15px;
        font-weight: 600;
        color: $primary-color;

        &--new {
          color: $red-color;
        }

        &--old {
          color: $light-color;
          font-size: 13px;
          font-weight: 500;
          text-decoration: line-through;
        }
      }
    }

    .button-quantity {
      height: 32px;
      width: max-content;

      input {
        padding: 6px 0;
        width: 24px;
      }

      button {
        width: 30px;
        height: 30px;
      }
    }

    &::-webkit-scrollbar {
      width: 14px;
    }

    &::-webkit-scrollbar-track {
      background: $white-color;
    }

    &::-webkit-scrollbar-thumb {
      background-color: grey;
      border-radius: 20px;
      border: 4px solid $white-color;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #9e9e9e;
    }
  }

  .offcanvas-footer {
    padding: 20px;
    box-shadow: 1px 3px 5px 0 rgb(210 217 237 / 30%);

    &__total {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 12px;
      margin-bottom: 16px;

      h5 {
        font-size: 16px;
        font-weight: 500;
        text-transform: capitalize;
        letter-spacing: .5px;
        margin-bottom: 0;
      }

      p {
        font-size: 20px;
        font-weight: 600;
        color: $red-color;
      }
    }

    &__buttons {
      display: flex;
      flex-direction: column;
      gap: 12px;
      justify-content: center;
      align-items: center;

      a {
        color: $white-color;
        background-color: $primary-color;
        border-radius: 5px;
        width: 100%;
        padding: 12px 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        text-transform: capitalize;
        letter-spacing: .2px;
        font-weight: 500;

        &:hover {
          color: $white-color;
        }

        &:first-child {
          background: #f7f7f7;
          color: $black-color;

          &:hover {
            background: #efefef;
            color: $black-color;
          }
        }
      }
    }
  }


}