.col-50 {
  min-width: 50px;
  width: 50px;
}

.col-100 {
  min-width: 100px;
  width: 100px;
}

.col-150 {
  min-width: 150px;
  width: 150px;
}

.col-200 {
  min-width: 200px;
  width: 200px;
}

.col-250 {
  min-width: 250px;
  width: 250px;
}

.col-300 {
  min-width: 300px;
  width: 300px;
}

.col-style {
  font-size: 15px;
  font-weight: 500;
  color: #5E6278;
}